.slider{
	height: 0;
	border-top: 3px solid #BBBBBB;
	border-bottom: 1px solid #999999;
	margin: 18px;
	position: relative;
}

.slider_button{
	position:relative;
	left: 0;
	width: 20px; 
	height: 20px; 
	margin-top: -11px; 
	margin-left: -10px; 
	border-radius: 10px;
	
	background: rgb(32,124,202);
	background: -moz-radial-gradient(center, ellipse cover, rgba(32,124,202,1) 0%, rgba(32,124,202,1) 16%, rgba(32,124,202,1) 16%, rgba(232,232,232,1) 23%, rgba(232,232,232,1) 57%, rgba(191,191,191,1) 68%, rgba(191,191,191,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(32,124,202,1)), color-stop(16%,rgba(32,124,202,1)), color-stop(16%,rgba(32,124,202,1)), color-stop(23%,rgba(232,232,232,1)), color-stop(57%,rgba(232,232,232,1)), color-stop(68%,rgba(191,191,191,1)), color-stop(100%,rgba(191,191,191,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(32,124,202,1) 0%,rgba(32,124,202,1) 16%,rgba(32,124,202,1) 16%,rgba(232,232,232,1) 23%,rgba(232,232,232,1) 57%,rgba(191,191,191,1) 68%,rgba(191,191,191,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(32,124,202,1) 0%,rgba(32,124,202,1) 16%,rgba(32,124,202,1) 16%,rgba(232,232,232,1) 23%,rgba(232,232,232,1) 57%,rgba(191,191,191,1) 68%,rgba(191,191,191,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(32,124,202,1) 0%,rgba(32,124,202,1) 16%,rgba(32,124,202,1) 16%,rgba(232,232,232,1) 23%,rgba(232,232,232,1) 57%,rgba(191,191,191,1) 68%,rgba(191,191,191,1) 100%);
	background: radial-gradient(ellipse at center, rgba(32,124,202,1) 0%,rgba(32,124,202,1) 16%,rgba(32,124,202,1) 16%,rgba(232,232,232,1) 23%,rgba(232,232,232,1) 57%,rgba(191,191,191,1) 68%,rgba(191,191,191,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#bfbfbf',GradientType=1 );
}

.slider_input{
	position: absolute;
	top: -12px;
	width: 40px;
}